{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">
    </a>
    <h1>Second Assignment - Making a bootstrap webpage</h1>
  </div>
</div>

  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Sample Table with  rows and 4 columns </h3>
  <table class="table table-sm table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Graduated</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Yes</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>No</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Bryde</td>
      <td>@twitter</td>
      <td>No</td>
    </tr>
    </tbody>
  </table>
    </div>
  </div>

<hr>
<div class="col-md-6">
    <h3><span class="glyphicon glyphicon-link"></span> Paragraphs</h3>
  <p> This is my first <a href="https://en.wikipedia.org/wiki/Paragraph">paragraph!</a></p>
    <p> This is my Second paragraph!</p>
    <p> This is my Third paragraph!</p>
    </div>
</div> <!-- row -->

{% endblock %}
